<p id="notice"><%= notice %></p>

<p>
  <%= md_to_html(@times_message.content) %>
</p>
<p>
  <%= image_tag @times_message.image.url, width: '100%' if @times_message.image.present? %>
</p>
<p>
  <%= video_tag @times_message.video.url, width: "100%", controls: true, autobuffer: true if @times_message.video.present? %>
</p>
<p>
  <%= link_to user_path(@times_message.user) do %>
    <%= image_tag @times_message.user.image.square.url, class: 'rounded-circle', width: '50px' if @times_message.user.image.present? %>
  <% end %>

<%= @times_message.created_at %>
</p>
<%= render 'vote', message: @times_message %>
<hr>
<p>
<% if user_signed_in? %>
  <%= link_to 'bolt!', like_times_message_path(@times_message), method: :put %>
  <%= link_to 'unvote', unvote_times_message_path(@times_message), method: :put %>
  <% if current_user?(@times_message.user) %>
  <%= link_to 'Edit', edit_times_message_path(@times_message) %>
  <%= link_to 'Destroy', @times_message, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
<%= link_to 'Back', times_messages_path %>
</p>
