<% if message.votes_for.up.by_type(User).voters.present? %>
<i class="fas fa-bolt" data-toggle="modal" data-target="#exampleModal<%= message.id %>" href="#exampleModal<%= message.id %>" style="cursor: pointer;"></i>
<% end %>
<!-- Modal -->
<div class="modal fade" id="exampleModal<%= message.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">bolter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% message.votes_for.up.by_type(User).voters.each do |voter| %>
        <%= link_to user_path(voter) do %>
          <p>
            <%= image_tag voter.image.square.url, class: 'rounded-circle', width: '50px' if voter.image.present? %>
            <%= voter.name %>
          </p>
        <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
