<p id="notice"><%= notice %></p>

<p>
  <%= md_to_html(@message.content) %>
</p>
<p>
  <%= image_tag @message.image.url, width: '100%' if @message.image.present? %>
</p>
<p>
  <%= video_tag @message.video.url, width: "100%", controls: true, autobuffer: true if @message.video.present? %>
</p>
<p>
  <%= link_to user_path(@message.user) do %>
    <%= image_tag @message.user.image.square.url, class: 'rounded-circle', width: '50px' if @message.user.image.present? %>
  <% end %>

<%= @message.created_at %>
</p>
<%= render 'vote', message: @message %>
<hr>
<p>
<% if user_signed_in? %>
  <%= link_to 'bolt!', like_message_path(@message), method: :put %>
  <%= link_to 'unvote', unvote_message_path(@message), method: :put %>
  <% if current_user?(@message.user) %>
  <%= link_to 'Edit', edit_message_path(@message) %>
  <%= link_to 'Destroy', @message, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
<%= link_to 'Back', messages_path %>
</p>
