<p id="notice"><%= notice %></p>

<p>
  <%= md_to_html(@message.content) %>
</p>
<p>
  <%= image_tag @message.image.url, width: '100%' if @message.image.present? %>
</p>
<p>
  <%= video_tag @message.video.url, width: "50%", controls: true, autobuffer: true if @message.video.present? %>
</p>

<%= @message.created_at %>

<p>
  <% @message.votes_for.up.by_type(User).voters.each do |voter| %>
  <p><%= link_to voter.name, user_path(voter) %></p>
  <% end %>
</p>
<% if user_signed_in? %>
  <%= link_to 'Like', like_message_path(@message), method: :put %>
  <%= link_to 'unvote', unvote_message_path(@message), method: :put %>
  <% if current_user?(@message.user) %>
  <%= link_to 'Edit', edit_message_path(@message) %>
  <%= link_to 'Destroy', @message, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
<%= link_to 'Back', messages_path %>
