<h1 class="h3">Tasks</h1>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th><%= sort_link(@q, :status) %></th>
      <th><%= sort_link(@q, :due_date) %></th>
      <th><%= sort_link(@q, :user_name, 'User') %></th>
      <th><%= sort_link(@q, :project_title, 'Project') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <td><%= task.due_date %></td>
        <td>
          <%= link_to user_path(task.user) do %>
            <%= image_tag task.user.image.square.url, class: "img-icon rounded-circle" if task.user.image.present? %>
          <% end %>
        </td>
        <td>
          <%= link_to project_path(task.project) do %>
            <%= image_tag task.project.image.square.url, class: "img-icon rounded-circle" if task.project.image.present? %>
          <% end %>
        </td>
        <% if user_signed_in? %>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Task', new_task_path %>
<% end %>
