<%= form_with(url: channel_direct_messages_path(@channel.id), method: :post, model: message) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success", style: "color: #efd5d5; background-color: #4c1016; border-color: #000000;" %>
  </div>
<% end %>
