= form_with(model: [@match, match_message], local: true) do |form|
  - if match_message.errors.any?
    #error_explanation
      %h2
        = pluralize(match_message.errors.count, "error")
        prohibited this message from being saved:
      %ul
        - match_message.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :content
    = form.text_area :content, class: "form-control"
  .actions
    = form.submit class: "btn btn-dark"
