<% match_messages.each do |message| %>
<div class="row">
  <% if message.image.present? || message.video.present? %>
  <div class="col-3">
    <%= link_to message do %>

    <p>
      <%= image_tag message.image.middle.url, width: '100%' if message.image.present? %>
    </p>
    <p>
      <%= video_tag message.video.url, width: "100%", controls: true, autobuffer: true if message.video.present? %>
    </p>
    <% end %>
  </div>
  <% end %>
  <div class="col-<%= message.image.present? || message.video.present? ? '9' : '12' %> message-content">
    <%= link_to message do %>
    <%= truncate(message.content, length: 100) %>
    <% end %>
    asdfa
  </div>
  <div class="col-12 message-content">
    <p>
    <%= link_to user_path(message.user) do %>
      <%= image_tag message.user.image.square.url, class: "profile-img rounded" if message.user.image.present? %>
    <% end %>
    asdfasdf
    </p>
    <label><%= render 'match_messages/vote', message: message %><%= link_to message do %><%= message.created_at %><% end %></label>
    <% if message.warrant.present? %>
    <%= message.warrant.price %>
    <% end %>
  </div>
</div>
<hr>
<% end %>
