<%= link_to 'Back', users_path %>
  <h1>
    <%= image_tag @user.image.square.url, class: 'rounded' if @user.image.present? %>
    <%= @user.name %>
  </h1>
  <% if user_signed_in? %>
    <% unless current_user?(@user) %>
      <% if current_user.request_matches? @user %>
        <i>requesting now</i>
      <% elsif !current_user.matched? @user %>
        <%= link_to request_match_user_path(@user), method: :put do %><i class="far fa-plus-square"> request_match</i><% end %>
      <% end %>
    <% end %>
  <% end %>
<hr>
<p><%= @user.profile %></p>
<% if @user.times_messages.has_image.present? %>
  <% @user.times_messages.has_image.limit(6).order(id: :desc).each do |message| %>
    <%= link_to times_message_path(message) do %><%= image_tag message.image.middle.url, width: '150px' if message.image.present? %><% end %>
  <% end %>
<% end %>

<% if @user.times_messages.present? %>
  <hr>
  <%= render 'times_messages/messages', times_messages: @user.times_messages.order(id: :desc) %>
<% end %>

<% if @user.seed? && !current_user.angel? %>
  warrant and angel ad
<% end %>
