  <h1>
    <%= image_tag @user.image.circle.url, class: 'rounded-circle' if @user.image.present? %>
    <%= @user.name %>
  </h1>
<hr>
<h2>Profile</h2>
<p>
<%= @user.profile %>
</p>
<h2>Follower</h2>
  <% @user.followers.each do |user| %>
  <p><%= link_to user.name, user_path(user) %></p>
  <% end %>


<h2>messages</h2>
  <% @user.messages.each do |message| %>
  <p><%= link_to message.content, message_path(message) %></p>
  <% end %>
<% if user_signed_in? %>
  <%= link_to 'follow', follow_user_path(@user), method: :put %>
  <%= link_to 'stop_following', stop_following_user_path(@user), method: :put %>
  <% if current_user?(@user) %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'パスワード変更', edit_user_registration_path %>
  <% end %>
<% end %>
<%= link_to 'Back', users_path %>
