<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Follower:</strong>
  <% @user.followers.each do |user| %>
  <p><%= link_to user.name, user_path(user) %></p>
  <% end %>
</p>

<p>
  <strong>Timelines:</strong>
  <% @user.timelines.each do |timeline| %>
  <p><%= link_to timeline.content, timeline_path(timeline) %></p>
  <% end %>
</p>

<%= link_to 'follow', follow_user_path(@user), method: :put %>
<%= link_to 'stop_following', stop_following_user_path(@user), method: :put %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
