<div class="col-12">
  <div class="">
    <% @messages_with_image.each do |message| %>
      <%= link_to times_message_path(message) do %><%= image_tag message.image.square_mini.url if message.image.present? %><% end %>
    <% end %>
  </div>
  <hr>
  <div class="">
    <% @messages.each do |message| %>
      <%= link_to times_message_path(message) do %>
        <%= truncate(message.content, length: 30) %> <small><%= message.created_at %></small>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>
