<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.collection_select :project_id, Project.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.collection_select :owner_id, User.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.text_field :start_time, end_year: Date.today.year + 100, class: "form-control datetimepicker", id: "start_time", data: {toggle: "datetimepicker", target: "#start_time"} %>
  </div>

  <div class="field">
    <%= form.label :end_datetime %>
    <%= form.text_field :end_datetime, end_year: Date.today.year + 100, class: "form-control datetimepicker", id: "end_datetime", data: {toggle: "datetimepicker", target: "#end_datetime"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss'
    });
  });
</script>
