<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @event.caption %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @event.detail %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to project_path(@event.project) do %>
    <%= image_tag @event.project.image.square.url, class: "img-icon rounded-circle" if @event.project.image.present? %>
  <% end %>
</p>

<p>
  <strong>Owner:</strong>
  <%= link_to user_path(@event.owner) do %>
    <%= image_tag @event.owner.image.square.url, class: "img-icon rounded-circle" if @event.owner.image.present? %>
  <% end %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @event.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @event.end_datetime %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
