<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= image_tag project.image.url, width: "300px" if project.image? %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <%= form.label :start_datetime %>
    <%= form.datetime_select :start_datetimee, end_year: Date.today.year + 110 %>
  </div>

  <div class="field">
    <%= form.label :end_datetime %>
    <%= form.datetime_select :end_datetimee, end_year: Date.today.year + 110 %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Project.statuses.keys.map {|k| [k, k]} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
