<p id="notice"><%= notice %></p>

<h1 class="h2"><%= @project.title %></h1>

<p>
  <%= image_tag @project.image.middle.url, class: 'rounded' if @project.image.present? %>
</p>

<h5>detail</h5>
<p>
  <%= md_to_html(@project.detail) %>
</p>

<p>
  <strong>Start:</strong>
  <%= @project.start_datetime %>
</p>

<p>
  <strong>End:</strong>
  <%= @project.end_datetime %>
</p>

<p>
  <strong>Owner:</strong>
  <%= link_to user_path(@project.owner) do %>
    <%= image_tag @project.owner.image.square.url, class: "img-icon rounded-circle" if @project.owner.image.present? %>
  <% end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', projects_path %>
