<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @project.detail %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @project.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @project.end_datetime %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @project.owner_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
