<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emoji.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @emoji.image %>
</p>

<p>
  <strong>Vote scope:</strong>
  <%= @emoji.vote_scope %>
</p>

<%= link_to 'Edit', edit_emoji_path(@emoji) %> |
<%= link_to 'Back', emojis_path %>
