<% @total_ern_warrants_per_month.each do |warrant| %>
<div class="row">
  <div class="col-12">
    <%= warrant.month %>: <%= warrant.price %>
  </div>
</div>
<hr>

<h1>Warrants</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Price per hour</th>
      <th>Beneficiary user</th>
      <th>Issuer user</th>
      <th>Start datetime</th>
      <th>End datetime</th>
    </tr>
  </thead>

  <tbody>
    <% @warrants.each do |warrant| %>
      <tr>
        <td><%= warrant.status %></td>
        <td><%= warrant.price_per_hour %></td>
        <td><%= warrant.owner_user_id %></td>
        <td><%= warrant.issuer_user_id %></td>
        <td><%= warrant.start_datetime %></td>
        <td><%= warrant.end_datetime %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
