- @total_ern_warrants_per_month.each do |warrant|
  .row
    .col-12
      = warrant.month
      \: #{warrant.price}
  %hr/
  %h1 Warrants
  %table
    %thead
      %tr
        %th Status
        %th Price per hour
        %th Beneficiary user
        %th Issuer user
        %th Start datetime
        %th End datetime
    %tbody
      - @warrants.each do |warrant|
        %tr
          %td= warrant.status
          %td= warrant.price_per_hour
          %td= warrant.owner_user_id
          %td= warrant.issuer_user_id
          %td= warrant.start_datetime
          %td= warrant.end_datetime
