<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @user.profile %>
</p>

<p>
  <strong>Follower:</strong>
  <% @user.followers.each do |user| %>
  <p><%= link_to user.name, user_path(user) %></p>
  <% end %>
</p>

<p>
  <strong>Timelines:</strong>
  <% @user.timelines.each do |timeline| %>
  <p><%= link_to timeline.content, timeline_path(timeline) %></p>
  <% end %>
</p>

<p>
  <strong>Activity:</strong>
  <% @activities.each do |activity| %>
  <p><%= activity.key %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
