= link_to 'new', new_match_match_message_path(match_id: @match.id)
= link_to 'new warrant', new_match_warrant_path(match_id: @match.id) if @match.warrant?
- @match_messages.each do |message|
  .row
    - if message.image.present? || message.video.present?
      .col-3
        = link_to message do
          %p
            = image_tag message.image.middle.url, width: '100%' if message.image.present?
          %p
            = video_tag message.video.url, width: "100%", controls: true, autobuffer: true if message.video.present?
    %div{:class => "col-#{message.image.present? || message.video.present? ? '9' : '12'} message-content"}
      = truncate(message.content, length: 100)
    .col-12.message-content
      %p
        - if message.warrant.present?
          = message.warrant.price
          = message.warrant.start_datetime
          = message.warrant.end_datetime
        = link_to user_path(message.user) do
          = image_tag message.user.image.square.url, class: "profile-img rounded" if message.user.image.present?
  %hr/
%i.fas.fa-bolt.fa-lg{"data-target" => "#exampleModal1", "data-toggle" => "modal", :href => "#exampleModal1", :style => "cursor: pointer;"}
/ Modal
#exampleModal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title bolt!
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p あなたからリクエストしたマッチへのメッセージ送信は、有料会員登録が必要になります。
        %p リクエストされたマッチへのメッセージ送信は、無料会員でも利用が可能です。
        %p アテンディーは無料会員、メンバーは3,000円の有料会員でマッチング利用、エンジェルは8,000円の有料会員でワラントの発行が可能、シードはワラントの権利行使が可能
        %p 3,000/月で、メッセージは送り放題
        %p 8,000/月で、エンジェル会員、ワラント6,000円分が付与されます。（未利用は繰越）
        %p ワラントは、シード会員に対して有効です。マッチングして実際に会う事に対する予約券で、面会成立を持って権利行使となります。
        %p シード会員はワラントの権利行使を通じて報酬を得る事が可能なユーザーであり、運営会社の審査を経た上でシード会員となる事が可能です。
        %p シード会員はワラントの権利行使でのマッチングも可能だが、アテンディーやメンバーとの非ワラントでのマッチングも可能？です。
      .modal-footer
