<%= form_with(model: timeline, local: true) do |form| %>
  <% if timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% timeline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
