<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @timeline.type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @timeline.content %>
</p>

<p>
  <% @timeline.votes_for.up.by_type(User).voters.each do |voter| %>
  <p><%= link_to voter.name, user_path(voter) %></p>
  <% end %>
</p>
<% if user_signed_in? %>
  <%= link_to 'Like', like_timeline_path(@timeline), method: :put %>
  <%= link_to 'unvote', unvote_timeline_path(@timeline), method: :put %>
  <%= link_to 'Edit', edit_timeline_path(@timeline) %>
  <%= link_to 'Destroy', @timeline, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', timelines_path %>
