!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, shrink-to-fit=no", :name => "viewport"}/
    %title Joynto α version
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag('favicon.ico')
  %head
    %base{:href => "./"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "CoreUI - Open Source Bootstrap Admin Template", :name => "description"}/
    %meta{:content => "Łukasz Holeczek", :name => "author"}/
    %meta{:content => "Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard", :name => "keyword"}/
    %title CoreUI Pro Bootstrap Admin Template
  %body.c-app.c-dark-theme.c-no-layout-transition
    #sidebar.c-sidebar.c-sidebar-dark.c-sidebar-fixed.c-sidebar-lg-show
      .c-sidebar-brand.d-md-down-none
        %svg.c-sidebar-brand-full{:alt => "CoreUI Logo", :height => "46", :width => "118"}
          %use{"xlink:href" => "/coreui/brand/coreui-pro.svg#full"}
        %svg.c-sidebar-brand-minimized{:alt => "CoreUI Logo", :height => "46", :width => "46"}
          %use{"xlink:href" => "/coreui/brand/coreui-pro.svg#signet"}
      %ul.c-sidebar-nav
        %li.c-sidebar-nav-item
          %a.c-sidebar-nav-link{:href => "index.html"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-speedometer"}
            Dashboard
            %span.badge.badge-info NEW
        %li.c-sidebar-nav-title Theme
        %li.c-sidebar-nav-item
          %a.c-sidebar-nav-link{:href => "colors.html"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-drop"}
            Colors
        %li.c-sidebar-nav-item
          %a.c-sidebar-nav-link{:href => "typography.html"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-pencil"}
            Typography
        %li.c-sidebar-nav-title Components
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-puzzle"}
            Base
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/breadcrumb.html"} Breadcrumb
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/cards.html"} Cards
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/carousel.html"} Carousel
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/collapse.html"} Collapse
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/jumbotron.html"} Jumbotron
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/list-group.html"} List group
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/navs.html"} Navs
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/pagination.html"} Pagination
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/popovers.html"} Popovers
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/progress.html"} Progress
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/scrollspy.html"} Scrollspy
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/switches.html"} Switches
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/tabs.html"} Tabs
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/tooltips.html"} Tooltips
      %button.c-sidebar-minimizer.c-class-toggler{"data-class" => "c-sidebar-unfoldable", "data-target" => "_parent", :type => "button"}
    #aside.c-sidebar.c-sidebar-lg.c-sidebar-light.c-sidebar-right.c-sidebar-overlaid
      %button.c-sidebar-close.c-class-toggler{"data-class" => "c-sidebar-show", "data-target" => "_parent", :responsive => "true", :type => "button"}
        %svg.c-icon
          %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-x"}
      %ul.nav.nav-tabs.nav-underline.nav-underline-primary{:role => "tablist"}
        %li.nav-item
          %a.nav-link.active{"data-toggle" => "tab", :href => "#timeline", :role => "tab"}
            %svg.c-icon
              %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-list"}
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#messages", :role => "tab"}
            %svg.c-icon
              %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-speech"}
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#settings", :role => "tab"}
            %svg.c-icon
              %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-settings"}
      .tab-content
        #timeline.tab-pane.active{:role => "tabpanel"}
          .list-group.list-group-accent
            .list-group-item.list-group-item-accent-secondary.bg-light.text-center.font-weight-bold.text-muted.text-uppercase.c-small Today
            .list-group-item.list-group-item-accent-warning.list-group-item-divider
              .c-avatar.float-right
                %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/7.jpg"}/
              %div
                Meeting with
                %strong Lucas
              %small.text-muted.mr-3
                %svg.c-icon>
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-calendar"}
                  1 - 3pm
              %small.text-muted
                %svg.c-icon>
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-location-pin"}
                  Palo Alto, CA
            .list-group-item.list-group-item-accent-info
              .c-avatar.float-right
                %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/4.jpg"}/
              %div
                Skype with
                %strong Megan
              %small.text-muted.mr-3
                %svg.c-icon>
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-calendar"}
                  4 - 5pm
            .list-group-item.list-group-item-accent-secondary.bg-light.text-center.font-weight-bold.text-muted.text-uppercase.c-small Tomorrow
            .list-group-item.list-group-item-accent-danger.list-group-item-divider
              %div
                New UI Project -
                %strong deadline
              %small.text-muted.mr-3
                %svg.c-icon>
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-calendar"}
                  10 - 11pm
              %small.text-muted
                %svg.c-icon>
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-home"}
                  creativeLabs HQ
              .c-avatars-stack.mt-2
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/2.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/3.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/4.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/5.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/6.jpg"}/
            .list-group-item.list-group-item-accent-success.list-group-item-divider
              %div
                %strong #10 Startups.Garden
                Meetup
              %small.text-muted.mr-3
                %svg.c-icon>
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-calendar"}
                  1 - 3pm
              %small.text-muted
                %svg.c-icon>
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-location-pin"}
                  Palo Alto, CA
            .list-group-item.list-group-item-accent-primary.list-group-item-divider
              %div
                %strong Team meeting
              %small.text-muted.mr-3
                %svg.c-icon>
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-calendar"}
                  4 - 6pm
              %small.text-muted
                %svg.c-icon>
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-home"}
                  creativeLabs HQ
              .c-avatars-stack.mt-2
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/2.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/3.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/4.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/5.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/6.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/7.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/8.jpg"}/
        #messages.tab-pane.p-3{:role => "tabpanel"}
          .message
            .py-3.pb-5.mr-3.float-left
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/7.jpg"}/
                %span.c-avatar-status.bg-success
            %div
              %small.text-muted Lukasz Holeczek
              %small.text-muted.float-right.mt-1 1:52 PM
            .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
            %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          %hr/
          .message
            .py-3.pb-5.mr-3.float-left
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/7.jpg"}/
                %span.c-avatar-status.bg-success
            %div
              %small.text-muted Lukasz Holeczek
              %small.text-muted.float-right.mt-1 1:52 PM
            .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
            %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          %hr/
          .message
            .py-3.pb-5.mr-3.float-left
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/7.jpg"}/
                %span.c-avatar-status.bg-success
            %div
              %small.text-muted Lukasz Holeczek
              %small.text-muted.float-right.mt-1 1:52 PM
            .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
            %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          %hr/
          .message
            .py-3.pb-5.mr-3.float-left
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/7.jpg"}/
                %span.c-avatar-status.bg-success
            %div
              %small.text-muted Lukasz Holeczek
              %small.text-muted.float-right.mt-1 1:52 PM
            .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
            %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          %hr/
          .message
            .py-3.pb-5.mr-3.float-left
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/7.jpg"}/
                %span.c-avatar-status.bg-success
            %div
              %small.text-muted Lukasz Holeczek
              %small.text-muted.float-right.mt-1 1:52 PM
            .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
            %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        #settings.tab-pane.p-3{:role => "tabpanel"}
          %h6 Settings
          .c-aside-options
            .clearfix.mt-4
              %small
                %b Option 1
              %label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.float-right
                %input.c-switch-input{:checked => "checked", :type => "checkbox"}/
                %span.c-switch-slider{"data-checked" => "On", "data-unchecked" => "Off"}
            %div
              %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .c-aside-options
            .clearfix.mt-3
              %small
                %b Option 2
              %label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.float-right
                %input.c-switch-input{:type => "checkbox"}/
                %span.c-switch-slider{"data-checked" => "On", "data-unchecked" => "Off"}
            %div
              %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .c-aside-options
            .clearfix.mt-3
              %small
                %b Option 3
              %label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.float-right
                %input.c-switch-input{:type => "checkbox"}/
                %span.c-switch-slider{"data-checked" => "On", "data-unchecked" => "Off"}
          .c-aside-options
            .clearfix.mt-3
              %small
                %b Option 4
              %label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.float-right
                %input.c-switch-input{:checked => "checked", :type => "checkbox"}/
                %span.c-switch-slider{"data-checked" => "On", "data-unchecked" => "Off"}
          %hr/
          %h6 System Utilization
          .text-uppercase.mb-1.mt-4
            %small
              %b CPU Usage
          .progress.progress-xs
            .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "25", :role => "progressbar", :style => "width: 25%"}
          %small.text-muted 348 Processes. 1/4 Cores.
          .text-uppercase.mb-1.mt-2
            %small
              %b Memory Usage
          .progress.progress-xs
            .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width: 70%"}
          %small.text-muted 11444GB/16384MB
          .text-uppercase.mb-1.mt-2
            %small
              %b SSD 1 Usage
          .progress.progress-xs
            .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "95", :role => "progressbar", :style => "width: 95%"}
          %small.text-muted 243GB/256GB
          .text-uppercase.mb-1.mt-2
            %small
              %b SSD 2 Usage
          .progress.progress-xs
            .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "10", :role => "progressbar", :style => "width: 10%"}
          %small.text-muted 25GB/256GB
    .c-wrapper
      %header.c-header.c-header-light.c-header-fixed
        %button.c-header-toggler.c-class-toggler.d-lg-none.mfe-auto{"data-class" => "c-sidebar-show", "data-target" => "#sidebar", :type => "button"}
          %svg.c-icon.c-icon-lg
            %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-menu"}
            %span.badge.badge-pill.badge-danger
              = [1].count

        %a.c-header-brand.d-lg-none.c-header-brand-sm-up-center{:href => "#"}
          %svg{:alt => "CoreUI Logo", :height => "46", :width => "118"}
            %use{"xlink:href" => "/coreui/brand/coreui-pro.svg#full"}
        %button.c-header-toggler.c-class-toggler.mfs-3.d-md-down-none{"data-class" => "c-sidebar-lg-show", "data-target" => "#sidebar", :responsive => "true", :type => "button"}
          %svg.c-icon.c-icon-lg
            %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-menu"}
        %ul.c-header-nav.d-md-down-none
          %li.c-header-nav-item.px-3
            %a.c-header-nav-link{:href => "/times_messages"} Times
          %li.c-header-nav-item.px-3
            %a.c-header-nav-link{:href => "/users"} Users
          %li.c-header-nav-item.px-3
            %a.c-header-nav-link{:href => "/matches"} Matches
        %ul.c-header-nav.mfs-auto
          %li.c-header-nav-item.px-3.c-d-legacy-none
            %button#header-tooltip.c-class-toggler.c-header-nav-btn{"data-class" => "c-dark-theme", "data-placement" => "bottom", "data-target" => "body", "data-toggle" => "c-tooltip", :title => "Toggle Light/Dark Mode", :type => "button"}
              %svg.c-icon.c-d-dark-none
                %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-moon"}
              %svg.c-icon.c-d-default-none
                %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-sun"}
        %ul.c-header-nav
          %li.c-header-nav-item.dropdown.d-md-down-none.mx-2
            %a.c-header-nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %svg.c-icon
                %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-bell"}
              %span.badge.badge-pill.badge-danger
                = [1].count
            .dropdown-menu.dropdown-menu-right.dropdown-menu-lg.pt-0
              .dropdown-header.bg-light
                %strong You have #{[1].count} notifications
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2.text-success
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-user-follow"}
                New Message
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2.text-danger
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-user-unfollow"}
                User deleted
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2.text-info
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-chart"}
                Sales report is ready
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2.text-success
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-basket"}
                New Match
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2.text-warning
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-speedometer"}
                Server overloaded
              .dropdown-header.bg-light
                %strong Server
              %a.dropdown-item.d-block{:href => "#"}
                .text-uppercase.mb-1
                  %small
                    %b CPU Usage
                %span.progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "25", :role => "progressbar", :style => "width: 25%"}
                %small.text-muted 348 Processes. 1/4 Cores.
              %a.dropdown-item.d-block{:href => "#"}
                .text-uppercase.mb-1
                  %small
                    %b Memory Usage
                %span.progress.progress-xs
                  .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width: 70%"}
                %small.text-muted 11444GB/16384MB
              %a.dropdown-item.d-block{:href => "#"}
                .text-uppercase.mb-1
                  %small
                    %b SSD 1 Usage
                %span.progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "95", :role => "progressbar", :style => "width: 95%"}
                %small.text-muted 243GB/256GB
          %li.c-header-nav-item.dropdown.d-md-down-none.mx-2
            %a.c-header-nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %svg.c-icon
                %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-list-rich"}
              %span.badge.badge-pill.badge-warning 15
            .dropdown-menu.dropdown-menu-right.dropdown-menu-lg.pt-0
              .dropdown-header.bg-light
                %strong You have 5 pending tasks
              %a.dropdown-item.d-block{:href => "#"}
                .small.mb-1
                  Upgrade NPM &amp; Bower
                  %span.float-right
                    %strong 0%
                %span.progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar", :style => "width: 0%"}
              %a.dropdown-item.d-block{:href => "#"}
                .small.mb-1
                  ReactJS Version
                  %span.float-right
                    %strong 25%
                %span.progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "25", :role => "progressbar", :style => "width: 25%"}
              %a.dropdown-item.d-block{:href => "#"}
                .small.mb-1
                  VueJS Version
                  %span.float-right
                    %strong 50%
                %span.progress.progress-xs
                  .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: 50%"}
              %a.dropdown-item.d-block{:href => "#"}
                .small.mb-1
                  Add new layouts
                  %span.float-right
                    %strong 75%
                %span.progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar", :style => "width: 75%"}
              %a.dropdown-item.d-block{:href => "#"}
                .small.mb-1
                  Angular 8 Version
                  %span.float-right
                    %strong 100%
                %span.progress.progress-xs
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width: 100%"}
              %a.dropdown-item.text-center.border-top{:href => "#"}
                %strong View all tasks
          %li.c-header-nav-item.dropdown.d-md-down-none.mx-2
            %a.c-header-nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %svg.c-icon
                %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-envelope-open"}
              %span.badge.badge-pill.badge-info 7
            .dropdown-menu.dropdown-menu-right.dropdown-menu-lg.pt-0
              .dropdown-header.bg-light
                %strong You have 4 messages
              %a.dropdown-item{:href => "#"}
                .message
                  .py-3.mfe-3.float-left
                    .c-avatar
                      %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/7.jpg"}/
                      %span.c-avatar-status.bg-success
                  %div
                    %small.text-muted John Doe
                    %small.text-muted.float-right.mt-1 Just now
                  .text-truncate.font-weight-bold
                    %span.text-danger !
                    Important message
                  .small.text-muted.text-truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
              %a.dropdown-item{:href => "#"}
                .message
                  .py-3.mfe-3.float-left
                    .c-avatar
                      %img.c-avatar-img{:alt => "user@email.com", :src => current_user.image.square.url}/
                      %span.c-avatar-status.bg-warning
                  %div
                    %small.text-muted John Doe
                    %small.text-muted.float-right.mt-1 5 minutes ago
                  .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
                  .small.text-muted.text-truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
              %a.dropdown-item{:href => "#"}
                .message
                  .py-3.mfe-3.float-left
                    .c-avatar
                      %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/5.jpg"}/
                      %span.c-avatar-status.bg-danger
                  %div
                    %small.text-muted John Doe
                    %small.text-muted.float-right.mt-1 1:52 PM
                  .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
                  .small.text-muted.text-truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
              %a.dropdown-item{:href => "#"}
                .message
                  .py-3.mfe-3.float-left
                    .c-avatar
                      %img.c-avatar-img{:alt => "user@email.com", :src => "/coreui/img/avatars/4.jpg"}/
                      %span.c-avatar-status.bg-info
                  %div
                    %small.text-muted John Doe
                    %small.text-muted.float-right.mt-1 4:03 PM
                  .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
                  .small.text-muted.text-truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
              %a.dropdown-item.text-center.border-top{:href => "#"}
                %strong View all messages
          %li.c-header-nav-item.dropdown
            %a.c-header-nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => current_user.image.square.url}/
            .dropdown-menu.dropdown-menu-right.pt-0
              .dropdown-header.bg-light.py-2
                %strong Account
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-bell"}
                Updates
                %span.badge.badge-info.mfs-auto 42
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-envelope-open"}
                Messages
                %span.badge.badge-success.mfs-auto 42
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-task"}
                Tasks
                %span.badge.badge-danger.mfs-auto 42
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-comment-square"}
                Comments
                %span.badge.badge-warning.mfs-auto 42
              .dropdown-header.bg-light.py-2
                %strong Settings
              %a.dropdown-item{:href => mypages_path}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-user"}
                Profile
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-settings"}
                Settings
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-credit-card"}
                Payments
                %span.badge.badge-secondary.mfs-auto 42
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-file"}
                Projects
                %span.badge.badge-primary.mfs-auto 42
              .dropdown-divider
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-lock-locked"}
                Lock Account
              = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-account-logout"}
                Logout
          %button.c-header-toggler.c-class-toggler.mfe-md-3{"data-class" => "c-sidebar-show", "data-target" => "#aside", :type => "button"}
            %svg.c-icon.c-icon-lg
              %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-applications-settings"}
        .c-subheader.justify-content-between.px-3
          %ol.breadcrumb.border-0.m-0.px-0.px-md-3
            %li.breadcrumb-item Home
            %li.breadcrumb-item
              %a{:href => "#"} Admin
            %li.breadcrumb-item.active Dashboard
          .c-subheader-nav.d-md-down-none.mfe-2
            %a.c-subheader-nav-link{:href => "#"}
              %svg.c-icon
                %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-speech"}
            %a.c-subheader-nav-link{:href => "#"}
              %svg.c-icon
                %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-graph"}
               Dashboard
            %a.c-subheader-nav-link{:href => "#"}
              %svg.c-icon
                %use{"xlink:href" => "/coreui/icons/svg/free.svg#cil-settings"}
               Settings
      .c-body
        %main.c-main
          .container-fluid
            = yield
      %footer.c-footer
        %div
          %a{:href => "https://coreui.io"} CoreUI
          © 2020 creativeLabs.
        .mfs-auto
          Powered by 
          %a{:href => "https://coreui.io/pro/"} CoreUI Pro
    :javascript
      document.addEventListener("DOMContentLoaded", function(event) {
        setTimeout(function() {
          document.body.classList.remove('c-no-layout-transition')
        }, 2000);
      });
