<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joynto(α. ver)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div class="container">
        <header>
          <nav>
          </nav>
        </header>
        <% if notice %><p class="notice"><%= notice.inspect.to_s %></p><% end %>
        <% if alert %><p class="alert"><%= alert %></p><% end %>
      <div class="row">

        <div class="col-md-3 sidebar">
          <nav class="sidebar-nav">
            <div class="sidebar-header">
              <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
                <span class="sr-only">Toggle nav</span>
              </button>
              <a class="sidebar-brand img-responsive" href="/">
                <h1 class="brand-name h3">Joynto α</h1>
              </a>
            </div>

            <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
              <!-- <form class="sidebar-form">
                <input class="form-control" type="text" placeholder="Search...">
                <button type="submit" class="btn-link">
                  <span class="icon icon-magnifying-glass"></span>
                </button>
              </form> -->
              <ul class="nav nav-pills nav-stacked flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/messages">TIMES</a>
                </li>
                <% if user_signed_in? %>
                <li class="nav-item">
                  <a class="nav-link " href="/channel/directs">DIRECT MESSAGE</a>
                </li>
                <% end %>
                <li class="nav-item">
                  <a class="nav-link " href="/users">USERS</a>
                </li>
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'mypage', edit_user_path(current_user), class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to 'login', new_user_session_path, class: "nav-link" %>
                  </li>
                <% end %>
              </ul>
              <hr class="visible-xs mt-3">
            </div>
          </nav>
        </div>

        <div class="col-md-9 content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
