<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ploak(α. ver)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div class="container">
        <header>
          <nav>
          </nav>
        </header>
        <% if notice %><p class="notice"><%= notice.inspect.to_s %></p><% end %>
        <% if alert %><p class="alert"><%= alert %></p><% end %>
      <div class="row">

        <div class="col-md-3 sidebar">
          <nav class="sidebar-nav">
            <div class="sidebar-header">
              <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
                <span class="sr-only">Toggle nav</span>
              </button>
              <a class="sidebar-brand img-responsive" href="/">
                <h1 class="brand-name h3">ploak(α. ver)</h1>
              </a>
            </div>

            <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
              <!-- <form class="sidebar-form">
                <input class="form-control" type="text" placeholder="Search...">
                <button type="submit" class="btn-link">
                  <span class="icon icon-magnifying-glass"></span>
                </button>
              </form> -->
              <ul class="nav nav-pills nav-stacked flex-column">
                <% if user_signed_in? %>
                <li class="nav-header">notification</li>
                <li class="nav-item">
                  <%= link_to channel_directs_path, class: "nav-link" do %>
                   <% if current_user.notifications.present? %>
                   <i class="badge badge-light"><%= current_user.notifications.count %></i>
                   <% end %>
                   message
                  <% end %>
                </li>
                <li class="nav-header">mypage</li>
                <li class="nav-item">
                  <%= link_to 'edit profile', edit_user_path(current_user), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'show profile', mypages_show_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/channel/directs">direct messages</a>
                </li>
                <% end %>
                <li class="nav-header">Times</li>
                <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "#{current_user.name}", users_messages_path(current_user.id), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'followings', followings_messages_path, class: "nav-link" %>
                </li>
                <% end %>
                <li class="nav-item">
                  <a class="nav-link" href="/messages">all times</a>
                </li>
                <li class="nav-header">Projects</li>
                <li class="nav-item">
                  <a class="nav-link " href="/projects">all projects</a>
                </li>
                <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "new", new_project_path, class: "nav-link" %>
                </li>
                <% end %>
                <li class="nav-header">Users</li>
                <li class="nav-item">
                  <a class="nav-link " href="/users">all users</a>
                </li>
                <li class="nav-header">More</li>
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'invite', new_user_invitation_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to 'login', new_user_session_path, class: "nav-link" %>
                  </li>
                <% end %>
              </ul>
              <hr class="visible-xs mt-3">
            </div>
          </nav>
        </div>

        <div class="col-md-9 content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
