!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, shrink-to-fit=no", :name => "viewport"}/
    %title Joynto α version
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag('favicon.ico')
  %head
    %base{:href => "./"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "CoreUI - Open Source Bootstrap Admin Template", :name => "description"}/
    %meta{:content => "Łukasz Holeczek", :name => "author"}/
    %meta{:content => "Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard", :name => "keyword"}/
    %title CoreUI Pro Bootstrap Admin Template
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-118965717-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-118965717-1');
  %body.c-app.c-dark-theme.c-no-layout-transition
    #sidebar.c-sidebar.c-sidebar-dark.c-sidebar-fixed.c-sidebar-lg-show
      .c-sidebar-brand.d-md-down-none
        %svg.c-sidebar-brand-full{:alt => "CoreUI Logo", :height => "46", :width => "118"}
          %use{"xlink:href" => "assets/brand/coreui-pro.svg#full"}
        %svg.c-sidebar-brand-minimized{:alt => "CoreUI Logo", :height => "46", :width => "46"}
          %use{"xlink:href" => "assets/brand/coreui-pro.svg#signet"}
      %ul.c-sidebar-nav
        %li.c-sidebar-nav-item
          %a.c-sidebar-nav-link{:href => "index.html"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-speedometer"}
            Dashboard
            %span.badge.badge-info NEW
        %li.c-sidebar-nav-title Theme
        %li.c-sidebar-nav-item
          %a.c-sidebar-nav-link{:href => "colors.html"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-drop"}
            Colors
        %li.c-sidebar-nav-item
          %a.c-sidebar-nav-link{:href => "typography.html"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-pencil"}
            Typography
        %li.c-sidebar-nav-title Components
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-puzzle"}
            Base
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/breadcrumb.html"} Breadcrumb
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/cards.html"} Cards
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/carousel.html"} Carousel
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/collapse.html"} Collapse
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/jumbotron.html"} Jumbotron
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/list-group.html"} List group
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/navs.html"} Navs
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/pagination.html"} Pagination
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/popovers.html"} Popovers
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/progress.html"} Progress
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/scrollspy.html"} Scrollspy
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/switches.html"} Switches
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/tabs.html"} Tabs
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "base/tooltips.html"} Tooltips
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-cursor"}
            Buttons
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "buttons/buttons.html"} Buttons
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "buttons/brand-buttons.html"} Brand Buttons
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "buttons/button-group.html"} Buttons Group
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "buttons/dropdowns.html"} Dropdowns
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "buttons/loading-buttons.html"}
                Loading Buttons
                %span.badge.badge-danger PRO
                %span.badge.badge-success NEW
        %li.c-sidebar-nav-item
          %a.c-sidebar-nav-link{:href => "charts.html"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-chart-pie"}
            Charts
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-code"}
            Editors
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "editors/code-editor.html"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-notes"}
                Code Editor
                %span.badge.badge-danger PRO
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "editors/markdown-editor.html"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-code"}
                Markdown
                %span.badge.badge-danger PRO
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "editors/text-editor.html"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-notes"}
                Rich Text Editor
                %span.badge.badge-danger PRO
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-notes"}
            Forms
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "forms/basic-forms.html"} Basic Forms
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "forms/multi-select.html"}
                Multi Select
                %span.badge.badge-danger PRO
                %span.badge.badge-success NEW
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "forms/advanced-forms.html"}
                Advanced
                %span.badge.badge-danger PRO
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "forms/validation.html"}
                Validation
                %span.badge.badge-danger PRO
        %li.c-sidebar-nav-item
          %a.c-sidebar-nav-link{:href => "google-maps.html"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-map"}
            Google Maps
            %span.badge.badge-danger PRO
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-star"}
            Icons
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "icons/coreui-icons-free.html"}
                CoreUI Icons
                %span.badge.badge-success Free
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "icons/coreui-icons-brand.html"} CoreUI Icons - Brand
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "icons/coreui-icons-flag.html"} CoreUI Icons - Flag
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-bell"}
            Notifications
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "notifications/alerts.html"} Alerts
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "notifications/badge.html"} Badge
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "notifications/modals.html"} Modals
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "notifications/toastr.html"}
                Toastr
                %span.badge.badge-danger PRO
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-bolt"}
            Plugins
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "plugins/calendar.html"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-calendar"}
                Calendar
                %span.badge.badge-danger PRO
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "plugins/draggable-cards.html"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-cursor-move"}
                Draggable
                %span.badge.badge-danger PRO
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "plugins/ladda-buttons.html"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-cursor-move"}
                Ladda Buttons
                %span.badge.badge-danger PRO
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "plugins/spinners.html"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-sync"}
                Spinners
                %span.badge.badge-danger PRO
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-columns"}
            Tables
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "tables/tables.html"} Standard Tables
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "tables/datatables.html"}
                DataTables
                %span.badge.badge-danger PRO
        %li.c-sidebar-nav-item
          %a.c-sidebar-nav-link{:href => "widgets.html"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-calculator"}
            Widgets
            %span.badge.badge-info NEW
        %li.c-sidebar-nav-divider
        %li.c-sidebar-nav-title Extras
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-star"}
            Pages
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "login.html", :target => "_top"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-account-logout"}
                Login
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "register.html", :target => "_top"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-account-logout"}
                Register
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "404.html", :target => "_top"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-bug"}
                Error 404
            %li.c-sidebar-nav-item
              %a.c-sidebar-nav-link{:href => "500.html", :target => "_top"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-bug"}
                Error 500
        %li.c-sidebar-nav-dropdown
          %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
            %svg.c-sidebar-nav-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-layers"}
            Apps
          %ul.c-sidebar-nav-dropdown-items
            %li.c-sidebar-nav-dropdown
              %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-description"}
                Invoicing
              %ul.c-sidebar-nav-dropdown-items
                %li.c-sidebar-nav-item
                  %a.c-sidebar-nav-link{:href => "apps/invoicing/invoice.html"}
                    Invoice
                    %span.badge.badge-danger PRO
            %li.c-sidebar-nav-dropdown
              %a.c-sidebar-nav-dropdown-toggle{:href => "#"}
                %svg.c-sidebar-nav-icon
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-envelope-open"}
                Email
              %ul.c-sidebar-nav-dropdown-items
                %li.c-sidebar-nav-item
                  %a.c-sidebar-nav-link{:href => "apps/email/inbox.html"}
                    Inbox
                    %span.badge.badge-danger PRO
                %li.c-sidebar-nav-item
                  %a.c-sidebar-nav-link{:href => "apps/email/message.html"}
                    Message
                    %span.badge.badge-danger PRO
                %li.c-sidebar-nav-item
                  %a.c-sidebar-nav-link{:href => "apps/email/compose.html"}
                    Compose
                    %span.badge.badge-danger PRO
        %li.c-sidebar-nav-divider
        %li.c-sidebar-nav-title Labels
        %li.c-sidebar-nav-item.c-d-compact-none.c-d-minimized-none
          %a.c-sidebar-nav-label{:href => "#"}
            %svg.c-sidebar-nav-icon.text-danger
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-bookmark"}
            Label danger
        %li.c-sidebar-nav-item.c-d-compact-none.c-d-minimized-none
          %a.c-sidebar-nav-label{:href => "#"}
            %svg.c-sidebar-nav-icon.text-info
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-bookmark"}
            Label info
        %li.c-sidebar-nav-item.c-d-compact-none.c-d-minimized-none
          %a.c-sidebar-nav-label{:href => "#"}
            %svg.c-sidebar-nav-icon.text-warning
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-bookmark"}
            Label warning
        %li.c-sidebar-nav-divider
        %li.c-sidebar-nav-title System Utilization
        %li.c-sidebar-nav-item.px-3.c-d-compact-none.c-d-minimized-none
          .text-uppercase.mb-1
            %small
              %b CPU Usage
          .progress.progress-xs
            .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "25", :role => "progressbar", :style => "width: 25%"}
          %small.text-muted 348 Processes. 1/4 Cores.
        %li.c-sidebar-nav-item.px-3.c-d-compact-none.c-d-minimized-none
          .text-uppercase.mb-1
            %small
              %b Memory Usage
          .progress.progress-xs
            .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width: 70%"}
          %small.text-muted 11444GB/16384MB
        %li.c-sidebar-nav-item.px-3.mb-3.c-d-compact-none.c-d-minimized-none
          .text-uppercase.mb-1
            %small
              %b SSD 1 Usage
          .progress.progress-xs
            .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "95", :role => "progressbar", :style => "width: 95%"}
          %small.text-muted 243GB/256GB
      %button.c-sidebar-minimizer.c-class-toggler{"data-class" => "c-sidebar-unfoldable", "data-target" => "_parent", :type => "button"}
    #aside.c-sidebar.c-sidebar-lg.c-sidebar-light.c-sidebar-right.c-sidebar-overlaid
      %button.c-sidebar-close.c-class-toggler{"data-class" => "c-sidebar-show", "data-target" => "_parent", :responsive => "true", :type => "button"}
        %svg.c-icon
          %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-x"}
      %ul.nav.nav-tabs.nav-underline.nav-underline-primary{:role => "tablist"}
        %li.nav-item
          %a.nav-link.active{"data-toggle" => "tab", :href => "#timeline", :role => "tab"}
            %svg.c-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-list"}
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#messages", :role => "tab"}
            %svg.c-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-speech"}
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#settings", :role => "tab"}
            %svg.c-icon
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-settings"}
      .tab-content
        #timeline.tab-pane.active{:role => "tabpanel"}
          .list-group.list-group-accent
            .list-group-item.list-group-item-accent-secondary.bg-light.text-center.font-weight-bold.text-muted.text-uppercase.c-small Today
            .list-group-item.list-group-item-accent-warning.list-group-item-divider
              .c-avatar.float-right
                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/7.jpg"}/
              %div
                Meeting with
                %strong Lucas
              %small.text-muted.mr-3
                %svg.c-icon>
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-calendar"}
                  1 - 3pm
              %small.text-muted
                %svg.c-icon>
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-location-pin"}
                  Palo Alto, CA
            .list-group-item.list-group-item-accent-info
              .c-avatar.float-right
                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/4.jpg"}/
              %div
                Skype with
                %strong Megan
              %small.text-muted.mr-3
                %svg.c-icon>
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-calendar"}
                  4 - 5pm
              %small.text-muted
                %svg.c-icon>
                  %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-skype"}
                  On-line
            .list-group-item.list-group-item-accent-secondary.bg-light.text-center.font-weight-bold.text-muted.text-uppercase.c-small Tomorrow
            .list-group-item.list-group-item-accent-danger.list-group-item-divider
              %div
                New UI Project -
                %strong deadline
              %small.text-muted.mr-3
                %svg.c-icon>
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-calendar"}
                  10 - 11pm
              %small.text-muted
                %svg.c-icon>
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-home"}
                  creativeLabs HQ
              .c-avatars-stack.mt-2
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/2.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/3.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/4.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/5.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/6.jpg"}/
            .list-group-item.list-group-item-accent-success.list-group-item-divider
              %div
                %strong #10 Startups.Garden
                Meetup
              %small.text-muted.mr-3
                %svg.c-icon>
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-calendar"}
                  1 - 3pm
              %small.text-muted
                %svg.c-icon>
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-location-pin"}
                  Palo Alto, CA
            .list-group-item.list-group-item-accent-primary.list-group-item-divider
              %div
                %strong Team meeting
              %small.text-muted.mr-3
                %svg.c-icon>
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-calendar"}
                  4 - 6pm
              %small.text-muted
                %svg.c-icon>
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-home"}
                  creativeLabs HQ
              .c-avatars-stack.mt-2
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/2.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/3.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/4.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/5.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/6.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/7.jpg"}/
                .c-avatar.c-avatar-xs
                  %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/8.jpg"}/
        #messages.tab-pane.p-3{:role => "tabpanel"}
          .message
            .py-3.pb-5.mr-3.float-left
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/7.jpg"}/
                %span.c-avatar-status.bg-success
            %div
              %small.text-muted Lukasz Holeczek
              %small.text-muted.float-right.mt-1 1:52 PM
            .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
            %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          %hr/
          .message
            .py-3.pb-5.mr-3.float-left
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/7.jpg"}/
                %span.c-avatar-status.bg-success
            %div
              %small.text-muted Lukasz Holeczek
              %small.text-muted.float-right.mt-1 1:52 PM
            .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
            %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          %hr/
          .message
            .py-3.pb-5.mr-3.float-left
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/7.jpg"}/
                %span.c-avatar-status.bg-success
            %div
              %small.text-muted Lukasz Holeczek
              %small.text-muted.float-right.mt-1 1:52 PM
            .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
            %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          %hr/
          .message
            .py-3.pb-5.mr-3.float-left
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/7.jpg"}/
                %span.c-avatar-status.bg-success
            %div
              %small.text-muted Lukasz Holeczek
              %small.text-muted.float-right.mt-1 1:52 PM
            .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
            %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
          %hr/
          .message
            .py-3.pb-5.mr-3.float-left
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/7.jpg"}/
                %span.c-avatar-status.bg-success
            %div
              %small.text-muted Lukasz Holeczek
              %small.text-muted.float-right.mt-1 1:52 PM
            .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
            %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        #settings.tab-pane.p-3{:role => "tabpanel"}
          %h6 Settings
          .c-aside-options
            .clearfix.mt-4
              %small
                %b Option 1
              %label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.float-right
                %input.c-switch-input{:checked => "checked", :type => "checkbox"}/
                %span.c-switch-slider{"data-checked" => "On", "data-unchecked" => "Off"}
            %div
              %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .c-aside-options
            .clearfix.mt-3
              %small
                %b Option 2
              %label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.float-right
                %input.c-switch-input{:type => "checkbox"}/
                %span.c-switch-slider{"data-checked" => "On", "data-unchecked" => "Off"}
            %div
              %small.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .c-aside-options
            .clearfix.mt-3
              %small
                %b Option 3
              %label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.float-right
                %input.c-switch-input{:type => "checkbox"}/
                %span.c-switch-slider{"data-checked" => "On", "data-unchecked" => "Off"}
          .c-aside-options
            .clearfix.mt-3
              %small
                %b Option 4
              %label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.float-right
                %input.c-switch-input{:checked => "checked", :type => "checkbox"}/
                %span.c-switch-slider{"data-checked" => "On", "data-unchecked" => "Off"}
          %hr/
          %h6 System Utilization
          .text-uppercase.mb-1.mt-4
            %small
              %b CPU Usage
          .progress.progress-xs
            .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "25", :role => "progressbar", :style => "width: 25%"}
          %small.text-muted 348 Processes. 1/4 Cores.
          .text-uppercase.mb-1.mt-2
            %small
              %b Memory Usage
          .progress.progress-xs
            .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width: 70%"}
          %small.text-muted 11444GB/16384MB
          .text-uppercase.mb-1.mt-2
            %small
              %b SSD 1 Usage
          .progress.progress-xs
            .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "95", :role => "progressbar", :style => "width: 95%"}
          %small.text-muted 243GB/256GB
          .text-uppercase.mb-1.mt-2
            %small
              %b SSD 2 Usage
          .progress.progress-xs
            .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "10", :role => "progressbar", :style => "width: 10%"}
          %small.text-muted 25GB/256GB
    .c-wrapper
      %header.c-header.c-header-light.c-header-fixed
        %button.c-header-toggler.c-class-toggler.d-lg-none.mfe-auto{"data-class" => "c-sidebar-show", "data-target" => "#sidebar", :type => "button"}
          %svg.c-icon.c-icon-lg
            %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-menu"}
        %a.c-header-brand.d-lg-none.c-header-brand-sm-up-center{:href => "#"}
          %svg{:alt => "CoreUI Logo", :height => "46", :width => "118"}
            %use{"xlink:href" => "assets/brand/coreui-pro.svg#full"}
        %button.c-header-toggler.c-class-toggler.mfs-3.d-md-down-none{"data-class" => "c-sidebar-lg-show", "data-target" => "#sidebar", :responsive => "true", :type => "button"}
          %svg.c-icon.c-icon-lg
            %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-menu"}
        %ul.c-header-nav.d-md-down-none
          %li.c-header-nav-item.px-3
            %a.c-header-nav-link{:href => "#"} Dashboard
          %li.c-header-nav-item.px-3
            %a.c-header-nav-link{:href => "#"} Users
          %li.c-header-nav-item.px-3
            %a.c-header-nav-link{:href => "#"} Settings
        %ul.c-header-nav.mfs-auto
          %li.c-header-nav-item.px-3.c-d-legacy-none
            %button#header-tooltip.c-class-toggler.c-header-nav-btn{"data-class" => "c-dark-theme", "data-placement" => "bottom", "data-target" => "body", "data-toggle" => "c-tooltip", :title => "Toggle Light/Dark Mode", :type => "button"}
              %svg.c-icon.c-d-dark-none
                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-moon"}
              %svg.c-icon.c-d-default-none
                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-sun"}
        %ul.c-header-nav
          %li.c-header-nav-item.dropdown.d-md-down-none.mx-2
            %a.c-header-nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %svg.c-icon
                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-bell"}
              %span.badge.badge-pill.badge-danger 5
            .dropdown-menu.dropdown-menu-right.dropdown-menu-lg.pt-0
              .dropdown-header.bg-light
                %strong You have 5 notifications
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2.text-success
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-user-follow"}
                New user registered
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2.text-danger
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-user-unfollow"}
                User deleted
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2.text-info
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-chart"}
                Sales report is ready
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2.text-success
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-basket"}
                New client
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2.text-warning
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-speedometer"}
                Server overloaded
              .dropdown-header.bg-light
                %strong Server
              %a.dropdown-item.d-block{:href => "#"}
                .text-uppercase.mb-1
                  %small
                    %b CPU Usage
                %span.progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "25", :role => "progressbar", :style => "width: 25%"}
                %small.text-muted 348 Processes. 1/4 Cores.
              %a.dropdown-item.d-block{:href => "#"}
                .text-uppercase.mb-1
                  %small
                    %b Memory Usage
                %span.progress.progress-xs
                  .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width: 70%"}
                %small.text-muted 11444GB/16384MB
              %a.dropdown-item.d-block{:href => "#"}
                .text-uppercase.mb-1
                  %small
                    %b SSD 1 Usage
                %span.progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "95", :role => "progressbar", :style => "width: 95%"}
                %small.text-muted 243GB/256GB
          %li.c-header-nav-item.dropdown.d-md-down-none.mx-2
            %a.c-header-nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %svg.c-icon
                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-list-rich"}
              %span.badge.badge-pill.badge-warning 15
            .dropdown-menu.dropdown-menu-right.dropdown-menu-lg.pt-0
              .dropdown-header.bg-light
                %strong You have 5 pending tasks
              %a.dropdown-item.d-block{:href => "#"}
                .small.mb-1
                  Upgrade NPM &amp; Bower
                  %span.float-right
                    %strong 0%
                %span.progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar", :style => "width: 0%"}
              %a.dropdown-item.d-block{:href => "#"}
                .small.mb-1
                  ReactJS Version
                  %span.float-right
                    %strong 25%
                %span.progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "25", :role => "progressbar", :style => "width: 25%"}
              %a.dropdown-item.d-block{:href => "#"}
                .small.mb-1
                  VueJS Version
                  %span.float-right
                    %strong 50%
                %span.progress.progress-xs
                  .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: 50%"}
              %a.dropdown-item.d-block{:href => "#"}
                .small.mb-1
                  Add new layouts
                  %span.float-right
                    %strong 75%
                %span.progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar", :style => "width: 75%"}
              %a.dropdown-item.d-block{:href => "#"}
                .small.mb-1
                  Angular 8 Version
                  %span.float-right
                    %strong 100%
                %span.progress.progress-xs
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width: 100%"}
              %a.dropdown-item.text-center.border-top{:href => "#"}
                %strong View all tasks
          %li.c-header-nav-item.dropdown.d-md-down-none.mx-2
            %a.c-header-nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %svg.c-icon
                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-envelope-open"}
              %span.badge.badge-pill.badge-info 7
            .dropdown-menu.dropdown-menu-right.dropdown-menu-lg.pt-0
              .dropdown-header.bg-light
                %strong You have 4 messages
              %a.dropdown-item{:href => "#"}
                .message
                  .py-3.mfe-3.float-left
                    .c-avatar
                      %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/7.jpg"}/
                      %span.c-avatar-status.bg-success
                  %div
                    %small.text-muted John Doe
                    %small.text-muted.float-right.mt-1 Just now
                  .text-truncate.font-weight-bold
                    %span.text-danger !
                    Important message
                  .small.text-muted.text-truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
              %a.dropdown-item{:href => "#"}
                .message
                  .py-3.mfe-3.float-left
                    .c-avatar
                      %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/6.jpg"}/
                      %span.c-avatar-status.bg-warning
                  %div
                    %small.text-muted John Doe
                    %small.text-muted.float-right.mt-1 5 minutes ago
                  .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
                  .small.text-muted.text-truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
              %a.dropdown-item{:href => "#"}
                .message
                  .py-3.mfe-3.float-left
                    .c-avatar
                      %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/5.jpg"}/
                      %span.c-avatar-status.bg-danger
                  %div
                    %small.text-muted John Doe
                    %small.text-muted.float-right.mt-1 1:52 PM
                  .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
                  .small.text-muted.text-truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
              %a.dropdown-item{:href => "#"}
                .message
                  .py-3.mfe-3.float-left
                    .c-avatar
                      %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/4.jpg"}/
                      %span.c-avatar-status.bg-info
                  %div
                    %small.text-muted John Doe
                    %small.text-muted.float-right.mt-1 4:03 PM
                  .text-truncate.font-weight-bold Lorem ipsum dolor sit amet
                  .small.text-muted.text-truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
              %a.dropdown-item.text-center.border-top{:href => "#"}
                %strong View all messages
          %li.c-header-nav-item.dropdown
            %a.c-header-nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              .c-avatar
                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/6.jpg"}/
            .dropdown-menu.dropdown-menu-right.pt-0
              .dropdown-header.bg-light.py-2
                %strong Account
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-bell"}
                Updates
                %span.badge.badge-info.mfs-auto 42
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-envelope-open"}
                Messages
                %span.badge.badge-success.mfs-auto 42
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-task"}
                Tasks
                %span.badge.badge-danger.mfs-auto 42
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-comment-square"}
                Comments
                %span.badge.badge-warning.mfs-auto 42
              .dropdown-header.bg-light.py-2
                %strong Settings
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-user"}
                Profile
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-settings"}
                Settings
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-credit-card"}
                Payments
                %span.badge.badge-secondary.mfs-auto 42
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-file"}
                Projects
                %span.badge.badge-primary.mfs-auto 42
              .dropdown-divider
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-lock-locked"}
                Lock Account
              %a.dropdown-item{:href => "#"}
                %svg.c-icon.mfe-2
                  %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-account-logout"}
                Logout
          %button.c-header-toggler.c-class-toggler.mfe-md-3{"data-class" => "c-sidebar-show", "data-target" => "#aside", :type => "button"}
            %svg.c-icon.c-icon-lg
              %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-applications-settings"}
        .c-subheader.justify-content-between.px-3
          %ol.breadcrumb.border-0.m-0.px-0.px-md-3
            %li.breadcrumb-item Home
            %li.breadcrumb-item
              %a{:href => "#"} Admin
            %li.breadcrumb-item.active Dashboard
          .c-subheader-nav.d-md-down-none.mfe-2
            %a.c-subheader-nav-link{:href => "#"}
              %svg.c-icon
                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-speech"}
            %a.c-subheader-nav-link{:href => "#"}
              %svg.c-icon
                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-graph"}
               Dashboard
            %a.c-subheader-nav-link{:href => "#"}
              %svg.c-icon
                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-settings"}
               Settings
      .c-body
        %main.c-main
          .container-fluid
            .fade-in
              .row
                .col-sm-6.col-lg-3
                  .card.text-white.bg-gradient-primary
                    .card-body.card-body.pb-0.d-flex.justify-content-between.align-items-start
                      %div
                        .text-value-lg 9.823
                        %div Members online
                      .btn-group
                        %button.btn.btn-transparent.dropdown-toggle.p-0{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                          %svg.c-icon
                            %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-settings"}
                        .dropdown-menu.dropdown-menu-right
                          %a.dropdown-item{:href => "#"} Action
                          %a.dropdown-item{:href => "#"} Another action
                          %a.dropdown-item{:href => "#"} Something else here
                    .c-chart-wrapper.mt-3.mx-3{:style => "height:70px;"}
                      %canvas#card-chart1.chart{:height => "70"}
                .col-sm-6.col-lg-3
                  .card.text-white.bg-gradient-info
                    .card-body.card-body.pb-0.d-flex.justify-content-between.align-items-start
                      %div
                        .text-value-lg 9.823
                        %div Members online
                      .btn-group
                        %button.btn.btn-transparent.dropdown-toggle.p-0{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                          %svg.c-icon
                            %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-settings"}
                        .dropdown-menu.dropdown-menu-right
                          %a.dropdown-item{:href => "#"} Action
                          %a.dropdown-item{:href => "#"} Another action
                          %a.dropdown-item{:href => "#"} Something else here
                    .c-chart-wrapper.mt-3.mx-3{:style => "height:70px;"}
                      %canvas#card-chart2.chart{:height => "70"}
                .col-sm-6.col-lg-3
                  .card.text-white.bg-gradient-warning
                    .card-body.card-body.pb-0.d-flex.justify-content-between.align-items-start
                      %div
                        .text-value-lg 9.823
                        %div Members online
                      .btn-group
                        %button.btn.btn-transparent.dropdown-toggle.p-0{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                          %svg.c-icon
                            %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-settings"}
                        .dropdown-menu.dropdown-menu-right
                          %a.dropdown-item{:href => "#"} Action
                          %a.dropdown-item{:href => "#"} Another action
                          %a.dropdown-item{:href => "#"} Something else here
                    .c-chart-wrapper.mt-3{:style => "height:70px;"}
                      %canvas#card-chart3.chart{:height => "70"}
                .col-sm-6.col-lg-3
                  .card.text-white.bg-gradient-danger
                    .card-body.card-body.pb-0.d-flex.justify-content-between.align-items-start
                      %div
                        .text-value-lg 9.823
                        %div Members online
                      .btn-group
                        %button.btn.btn-transparent.dropdown-toggle.p-0{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                          %svg.c-icon
                            %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-settings"}
                        .dropdown-menu.dropdown-menu-right
                          %a.dropdown-item{:href => "#"} Action
                          %a.dropdown-item{:href => "#"} Another action
                          %a.dropdown-item{:href => "#"} Something else here
                    .c-chart-wrapper.mt-3.mx-3{:style => "height:70px;"}
                      %canvas#card-chart4.chart{:height => "70"}
              .card
                .card-body
                  .d-flex.justify-content-between
                    %div
                      %h4.card-title.mb-0 Traffic
                      .small.text-muted September 2019
                    .btn-toolbar.d-none.d-md-block{"aria-label" => "Toolbar with buttons", :role => "toolbar"}
                      .btn-group.btn-group-toggle.mx-3{"data-toggle" => "buttons"}
                        %label.btn.btn-outline-secondary
                          %input#option1{:autocomplete => "off", :name => "options", :type => "radio"}/
                          Day
                        %label.btn.btn-outline-secondary.active
                          %input#option2{:autocomplete => "off", :checked => "checked", :name => "options", :type => "radio"}/
                          Month
                        %label.btn.btn-outline-secondary
                          %input#option3{:autocomplete => "off", :name => "options", :type => "radio"}/
                          Year
                      %button.btn.btn-primary{:type => "button"}
                        %svg.c-icon
                          %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-cloud-download"}
                  .c-chart-wrapper{:style => "height:300px;margin-top:40px;"}
                    %canvas#main-chart.chart{:height => "300"}
                .card-footer
                  .row.text-center
                    .col-sm-12.col-md.mb-sm-2.mb-0
                      .text-muted Visits
                      %strong 29.703 Users (40%)
                      .progress.progress-xs.mt-2
                        .progress-bar.bg-gradient-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
                    .col-sm-12.col-md.mb-sm-2.mb-0
                      .text-muted Unique
                      %strong 24.093 Users (20%)
                      .progress.progress-xs.mt-2
                        .progress-bar.bg-gradient-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%"}
                    .col-sm-12.col-md.mb-sm-2.mb-0
                      .text-muted Pageviews
                      %strong 78.706 Views (60%)
                      .progress.progress-xs.mt-2
                        .progress-bar.bg-gradient-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%"}
                    .col-sm-12.col-md.mb-sm-2.mb-0
                      .text-muted New Users
                      %strong 22.123 Users (80%)
                      .progress.progress-xs.mt-2
                        .progress-bar.bg-gradient-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
                    .col-sm-12.col-md.mb-sm-2.mb-0
                      .text-muted Bounce Rate
                      %strong 40.15%
                      .progress.progress-xs.mt-2
                        .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
              .row
                .col-sm-6.col-lg-4
                  .card
                    .card-header.bg-facebook.content-center
                      %svg.c-icon.c-icon-3xl.text-white.my-4
                        %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-facebook-f"}
                    .card-body.row.text-center
                      .col
                        .text-value-xl 89k
                        .text-uppercase.text-muted.small friends
                      .c-vr
                      .col
                        .text-value-xl 459
                        .text-uppercase.text-muted.small feeds
                .col-sm-6.col-lg-4
                  .card
                    .card-header.bg-twitter.content-center
                      %svg.c-icon.c-icon-3xl.text-white.my-4
                        %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-twitter"}
                    .card-body.row.text-center
                      .col
                        .text-value-xl 973k
                        .text-uppercase.text-muted.small followers
                      .c-vr
                      .col
                        .text-value-xl 1.792
                        .text-uppercase.text-muted.small tweets
                .col-sm-6.col-lg-4
                  .card
                    .card-header.bg-linkedin.content-center
                      %svg.c-icon.c-icon-3xl.text-white.my-4
                        %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-linkedin"}
                    .card-body.row.text-center
                      .col
                        .text-value-xl 500+
                        .text-uppercase.text-muted.small contacts
                      .c-vr
                      .col
                        .text-value-xl 292
                        .text-uppercase.text-muted.small feeds
              .row
                .col-md-12
                  .card
                    .card-header Traffic &amp; Sales
                    .card-body
                      .row
                        .col-sm-6
                          .row
                            .col-6
                              .c-callout.c-callout-info
                                %small.text-muted New Clients
                                .text-value-lg 9,123
                            .col-6
                              .c-callout.c-callout-danger
                                %small.text-muted Recuring Clients
                                .text-value-lg 22,643
                          %hr.mt-0/
                          .progress-group.mb-4
                            .progress-group-prepend
                              %span.progress-group-text Monday
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "34", :role => "progressbar", :style => "width: 34%"}
                              .progress.progress-xs
                                .progress-bar.bg-gradient-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "78", :role => "progressbar", :style => "width: 78%"}
                          .progress-group.mb-4
                            .progress-group-prepend
                              %span.progress-group-text Tuesday
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "56", :role => "progressbar", :style => "width: 56%"}
                              .progress.progress-xs
                                .progress-bar.bg-gradient-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "94", :role => "progressbar", :style => "width: 94%"}
                          .progress-group.mb-4
                            .progress-group-prepend
                              %span.progress-group-text Wednesday
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "12", :role => "progressbar", :style => "width: 12%"}
                              .progress.progress-xs
                                .progress-bar.bg-gradient-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "67", :role => "progressbar", :style => "width: 67%"}
                          .progress-group.mb-4
                            .progress-group-prepend
                              %span.progress-group-text Thursday
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "43", :role => "progressbar", :style => "width: 43%"}
                              .progress.progress-xs
                                .progress-bar.bg-gradient-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "91", :role => "progressbar", :style => "width: 91%"}
                          .progress-group.mb-4
                            .progress-group-prepend
                              %span.progress-group-text Friday
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "22", :role => "progressbar", :style => "width: 22%"}
                              .progress.progress-xs
                                .progress-bar.bg-gradient-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "73", :role => "progressbar", :style => "width: 73%"}
                          .progress-group.mb-4
                            .progress-group-prepend
                              %span.progress-group-text Saturday
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "53", :role => "progressbar", :style => "width: 53%"}
                              .progress.progress-xs
                                .progress-bar.bg-gradient-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "82", :role => "progressbar", :style => "width: 82%"}
                          .progress-group.mb-4
                            .progress-group-prepend
                              %span.progress-group-text Sunday
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "9", :role => "progressbar", :style => "width: 9%"}
                              .progress.progress-xs
                                .progress-bar.bg-gradient-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "69", :role => "progressbar", :style => "width: 69%"}
                        .col-sm-6
                          .row
                            .col-6
                              .c-callout.c-callout-warning
                                %small.text-muted Pageviews
                                .text-value-lg 78,623
                            .col-6
                              .c-callout.c-callout-success
                                %small.text-muted Organic
                                .text-value-lg 49,123
                          %hr.mt-0/
                          .progress-group
                            .progress-group-header
                              %svg.c-icon.progress-group-icon
                                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-user"}
                              %div Male
                              .mfs-auto.font-weight-bold 43%
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "43", :role => "progressbar", :style => "width: 43%"}
                          .progress-group.mb-5
                            .progress-group-header
                              %svg.c-icon.progress-group-icon
                                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-user-female"}
                              %div Female
                              .mfs-auto.font-weight-bold 37%
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "43", :role => "progressbar", :style => "width: 43%"}
                          .progress-group
                            .progress-group-header.align-items-end
                              %svg.c-icon.progress-group-icon
                                %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-google"}
                              %div Organic Search
                              .mfs-auto.font-weight-bold.mfe-2 191.235
                              .text-muted.small (56%)
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "56", :role => "progressbar", :style => "width: 56%"}
                          .progress-group
                            .progress-group-header.align-items-end
                              %svg.c-icon.progress-group-icon
                                %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-facebook-f"}
                              %div Facebook
                              .mfs-auto.font-weight-bold.mfe-2 51.223
                              .text-muted.small (15%)
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "15", :role => "progressbar", :style => "width: 15%"}
                          .progress-group
                            .progress-group-header.align-items-end
                              %svg.c-icon.progress-group-icon
                                %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-twitter"}
                              %div Twitter
                              .mfs-auto.font-weight-bold.mfe-2 37.564
                              .text-muted.small (11%)
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "11", :role => "progressbar", :style => "width: 11%"}
                          .progress-group
                            .progress-group-header.align-items-end
                              %svg.c-icon.progress-group-icon
                                %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-linkedin"}
                              %div LinkedIn
                              .mfs-auto.font-weight-bold.mfe-2 27.319
                              .text-muted.small (8%)
                            .progress-group-bars
                              .progress.progress-xs
                                .progress-bar.bg-gradient-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "8", :role => "progressbar", :style => "width: 8%"}
                      %br/
                      %table.table.table-responsive-sm.table-hover.table-outline.mb-0
                        %thead.thead-light
                          %tr
                            %th.text-center
                              %svg.c-icon
                                %use{"xlink:href" => "coreui/icons/svg/free.svg#cil-people"}
                            %th User
                            %th.text-center Country
                            %th Usage
                            %th.text-center Payment Method
                            %th Activity
                        %tbody
                          %tr
                            %td.text-center
                              .c-avatar
                                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/1.jpg"}/
                                %span.c-avatar-status.bg-success
                            %td
                              %div Yiorgos Avraamu
                              .small.text-muted
                                %span New
                                | Registered: Jan 1, 2015
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/flag.svg#cif-us"}
                            %td
                              .clearfix
                                .float-left
                                  %strong 50%
                                .float-right
                                  %small.text-muted Jun 11, 2015 - Jul 10, 2015
                              .progress.progress-xs
                                .progress-bar.bg-gradient-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: 50%"}
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-cc-mastercard"}
                            %td
                              .small.text-muted Last login
                              %strong 10 sec ago
                          %tr
                            %td.text-center
                              .c-avatar
                                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/2.jpg"}/
                                %span.c-avatar-status.bg-danger
                            %td
                              %div Avram Tarasios
                              .small.text-muted
                                %span Recurring
                                | Registered: Jan 1, 2015
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/flag.svg#cif-br"}
                            %td
                              .clearfix
                                .float-left
                                  %strong 10%
                                .float-right
                                  %small.text-muted Jun 11, 2015 - Jul 10, 2015
                              .progress.progress-xs
                                .progress-bar.bg-gradient-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "10", :role => "progressbar", :style => "width: 10%"}
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-cc-visa"}
                            %td
                              .small.text-muted Last login
                              %strong 5 minutes ago
                          %tr
                            %td.text-center
                              .c-avatar
                                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/3.jpg"}/
                                %span.c-avatar-status.bg-warning
                            %td
                              %div Quintin Ed
                              .small.text-muted
                                %span New
                                | Registered: Jan 1, 2015
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/flag.svg#cif-in"}
                            %td
                              .clearfix
                                .float-left
                                  %strong 74%
                                .float-right
                                  %small.text-muted Jun 11, 2015 - Jul 10, 2015
                              .progress.progress-xs
                                .progress-bar.bg-gradient-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "74", :role => "progressbar", :style => "width: 74%"}
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-cc-stripe"}
                            %td
                              .small.text-muted Last login
                              %strong 1 hour ago
                          %tr
                            %td.text-center
                              .c-avatar
                                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/4.jpg"}/
                                %span.c-avatar-status.bg-secondary
                            %td
                              %div Enéas Kwadwo
                              .small.text-muted
                                %span New
                                | Registered: Jan 1, 2015
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/flag.svg#cif-fr"}
                            %td
                              .clearfix
                                .float-left
                                  %strong 98%
                                .float-right
                                  %small.text-muted Jun 11, 2015 - Jul 10, 2015
                              .progress.progress-xs
                                .progress-bar.bg-gradient-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "98", :role => "progressbar", :style => "width: 98%"}
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-cc-paypal"}
                            %td
                              .small.text-muted Last login
                              %strong Last month
                          %tr
                            %td.text-center
                              .c-avatar
                                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/5.jpg"}/
                                %span.c-avatar-status.bg-success
                            %td
                              %div Agapetus Tadeáš
                              .small.text-muted
                                %span New
                                | Registered: Jan 1, 2015
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/flag.svg#cif-es"}
                            %td
                              .clearfix
                                .float-left
                                  %strong 22%
                                .float-right
                                  %small.text-muted Jun 11, 2015 - Jul 10, 2015
                              .progress.progress-xs
                                .progress-bar.bg-gradient-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "22", :role => "progressbar", :style => "width: 22%"}
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-cc-app c-dark-themele-pay"}
                            %td
                              .small.text-muted Last login
                              %strong Last week
                          %tr
                            %td.text-center
                              .c-avatar
                                %img.c-avatar-img{:alt => "user@email.com", :src => "assets/img/avatars/6.jpg"}/
                                %span.c-avatar-status.bg-danger
                            %td
                              %div Friderik Dávid
                              .small.text-muted
                                %span New
                                | Registered: Jan 1, 2015
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/flag.svg#cif-pl"}
                            %td
                              .clearfix
                                .float-left
                                  %strong 43%
                                .float-right
                                  %small.text-muted Jun 11, 2015 - Jul 10, 2015
                              .progress.progress-xs
                                .progress-bar.bg-gradient-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "43", :role => "progressbar", :style => "width: 43%"}
                            %td.text-center
                              %svg.c-icon.c-icon-xl
                                %use{"xlink:href" => "coreui/icons/svg/brand.svg#cib-cc-amex"}
                            %td
                              .small.text-muted Last login
                              %strong Yesterday
      %footer.c-footer
        %div
          %a{:href => "https://coreui.io"} CoreUI
          © 2020 creativeLabs.
        .mfs-auto
          Powered by 
          %a{:href => "https://coreui.io/pro/"} CoreUI Pro
    :javascript
      document.addEventListener("DOMContentLoaded", function(event) {
        setTimeout(function() {
          document.body.classList.remove('c-no-layout-transition')
        }, 2000);
      });
